! URxvt

! General settings
URxvt.scrollBar: False
URxvt.internalBorder:  4

! Transparency
URxvt*inheritPixmap: true
URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 70

!Manospace
URxvt.font: xft:Monospace-10
URxvt.letterSpace: -1
