! URxvt

! General settings
URxvt.scrollBar: False
URxvt.internalBorder:  10

! Transparency
URxvt*inheritPixmap: true
URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 20

!Manospace
URxvt.font: xft:Monospace-10
URxvt.letterSpace: 0

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.urlLauncher: chromium
URxvt.underlineURLs: true
URxvt.urlButton: 1
